{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="곤지암 맥스 목공기계, 목공기계 전문">
  <link rel="canonical" href="https://maxbrands.net/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="곤지암 맥스 목공기계">
  <meta property="og:description" content="곤지암 맥스 목공기계 목공기계 전문">
  <meta property="og:url" content="https://maxbrands.net/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  {# 폰트 #}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  {# static css 파일 추가#}
  <link href="{% static 'stylesheets/style.css' %}" rel="stylesheet" >
  {% block header %} {% endblock header %}
  <title>맥스 목공기계</title>
</head>

<body>
{# nav bar #}
{% include "nav.html" %}

{% block main_content %}
{# 상단 메뉴 텍스트 공간 #}
<div class='d-flex justify-content-center menu-box'>
  <h3>{{ menu }}</h3>
</div>

{# section #}
<section class='container my-5 '>
  {% block content %}
  {% endblock content %}
</section>
{% endblock main_content %}

{# footer #}
<footer>
  <div class="container py-4 lightgrey-text" style="background-color: #444;">
    <p class="m-0">맥스목공기계 대표: 이종두 | 구매문의: 031-767-0880 </p>
    <p class="m-0">사업장주소: 경기도 광주시 곤지암읍 경충대로 811-70 맥스목공기계 (삼리 145)</p>
    <p class="m-0">본 사이트의 콘텐츠는 저작권법의 보호를 받는 바 무단 전재, 복사, 배포 등을 금합니다.</p>
    <div class="m-0 d-flex">
      <a href="{% url 'accounts:login' %}" class="text-decoration-none lightgrey-text">Copyright</a>© 맥스목공기계 All Rights Reserved.
      {% if request.user.is_authenticated %}
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <button class="badge btn-navy ms-2">로그아웃</button>
      </form>
      {% endif %}
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>