/* stylesheet */

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif; 
}

footer {
  margin-top: 150px;
  background-color: #444;
  height: 130px;
  font-size: 13px;
}

.title-box {
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
}

.content-box {
  border-bottom: 1px solid black;
}

.answer-box {
  background-color: #f3f3f3;
  border-top: 1px solid gray;
  border-bottom: 1px solid black;
}

.menu-box {
  font-family: 'ONE-Mobile-Title';
  padding: 100px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/menu_image.jpg");
  background-position: center center;
  color: white;
}

.map-box {
  height: 570px;
}

.gray-box {
  background-color: #f3f3f3;
  border-radius: 10px;
}

/* 맥스 목공기계 */
.company-name {
  font-family: 'ONE-Mobile-Title';
  font-size: 40px;
}

.sub-title-name {
  font-family: 'ONE-Mobile-Title';
}

/* ul 스타일링 */
.list-blit {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #111f73;
  position: absolute;
  margin-top: 9px;
}

.list-line {
  position: absolute;
  border-left: 1px solid rgb(133, 133, 133);
  height: 72px;
  margin-top: 9px;
  margin-left: 3px;
}

/* 네브바 스타일링 */
.nav-font {
  font-size: 18px;
  color: black;
}

/* 회색 */
.grey-text {
  color: rgb(133, 133, 133);
}

.darkgrey-text {
  color: #444
}

.lightgrey-text {
  color: #aaa
}

.navy-text {
  color: #111f73;
  width: 18px;
}

/* 네이비 버튼 */
.btn-navy {
  color: white;
  background-color: #111f73;
  border: 1px solid #111f73;
}

.btn-navy > a {
  color: white;
}

.btn-navy:hover {
  color: #111f73;
  background-color: #fff;
  border: 1px solid #111f73;
}

.btn-navy:hover > a {
  color: #111f73;  
}

.btn-minus-margin {
  margin-top: -38px;
}

/* 페이지네이션 커스텀 */
.pagination>li>a { 
  border-radius: 50% !important;
  padding: 6px 13px;
  margin: 0 5px;
  color: #111f73;
}

.page-item.active .page-link {
  background-color: #111f73;
  border-color: #111f73;
}

.page-link:hover {
  color: #111f73;
}

.page-link:focus {
  color: #111f73;
}

.page-item.disabled .page-link {
  color: #aaa;
}
