{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    <!-- 제목 -->
    <div class="d-flex justify-content-between title-box px-4 py-2">
      <h2 class="text-center">{{ machine.title }}</h2>
    </div>
    <div class="px-4 mt-2">
      <span class="grey-text">{{ machine.created_at|date:'Y.m.d H:i' }}</span>
      <span class="grey-text ms-3">{{ machine.category }}</span>
    </div>

    <div class="row justify-content-center">
      <!-- 이미지 -->
      <div class="mx-5 mt-5 col-12 col-lg-10 d-flex justify-content-center">
        {% if machine.photo %}
          <img src="{{ machine.photo.url }}" alt="{{ machine.photo }}" class="img-fluid">
        {% endif %}
      </div>

      <!-- 내용 -->
      <div class="col-12 col-lg-10 desc text-start mt-4 px-5">
        <p>{{ machine.content|linebreaks }}</p>
      </div>
    </div>

    <!-- 버튼 -->
    <div class="d-flex justify-content-center mt-5">
    {% if request.user.is_authenticated %}      
      <a href="{% url 'machines:update' machine.pk %}" class="btn btn-sm btn-navy me-2">수정</a>  
      <button class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        삭제
      </button>
    {% endif %}
    <a href="{% url 'machines:index' %}" class="btn btn-sm btn-navy">목록으로</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">게시글 삭제</h5>
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            게시글을 삭제하시겠습니까?
          </div>
          <div class="modal-footer">
            <form action="{% url 'machines:delete' machine.pk %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-sm btn-navy">삭제</button>
            </form>
            <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}