{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-5">index</h1>

<a href="{% url 'machines:create' %}" class="btn btn-sm btn-primary">글쓰기</a>
<div class="row">
  {% for machine in machines %}
  <div class="col-4">
    <div class="d-flex flex-column bg-warning py-3 gy-4">
      <div class="d-flex justify-content-center">
        <img src="{{ machine.photo.url }}" alt="img"> <!--https://picsum.photos/200/200 -->
      </div>
      <a href="{% url 'machines:detail' machine.pk %}" class="text-decoration-none">
        <p class="text-center mt-3">{{ machine.title }}</p>
      </a>
    </div>  
  </div>

  {% endfor %}
</div>

{% endblock content %}