{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between">
    <div>
      <button class="btn btn-sm btn-navy"><a href="{% url 'machines:index' %}" class="text-decoration-none" >전체</a></button>
      <button class="btn btn-sm btn-navy"><a href="{% url 'machines:index_filter' '신품 기계' %}" class="text-decoration-none">신품 기계</a></button>
      <button class="btn btn-sm btn-navy"><a href="{% url 'machines:index_filter' '중고 기계' %}" class="text-decoration-none">중고 기계</a></button>
    </div>
    {% if request.user.is_authenticated %}
      <div>
        <button class="btn btn-sm btn-navy"><a href="{% url 'machines:create' %}" class="text-decoration-none">글쓰기</a></button>
      </div>
    {% endif %}
  </div>

  <div class="row">
    {% for machine in machines %}
    <div class="col-6 col-lg-4 col-xxl-3">
      <div class="d-flex flex-column py-3 gy-4">
        <div class="d-flex justify-content-center bg-light machine-thumb">
          <a href="{% url 'machines:detail' machine.pk %}">
            <img src="{{ machine.photo.url }}" alt="img" class="rounded" height="200">
          </a>
        </div>
        <a href="{% url 'machines:detail' machine.pk %}" class="text-decoration-none bg-light">
          <p class="text-center mt-3">{{ machine.title }}</p>
        </a>
      </div>  
    </div>
    {% endfor %}
  </div>

{% endblock content %}