{% extends 'base.html' %}

{% block main_content %}

<div class="banner">
  <div class="container bg-secondary" style="height: 100%;">
    <div class="row justify-content-center bg-success">
      <div class="col-10 col-md-6 bg-warning align-self-center mt-5 py-5">
        <p>중고, 신품 목공 기계</p>
        <h2>"매입 및 판매 업체 언제든</h2>
        <h2> 24시간 문의 가능합니다."</h2>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h4 class="sub-title-name">목공 기계</h4>
  <div class="row">
  {% for machine in machines %}
    <div class="col-6 col-lg-3">
      <div class="py-3">
        <div class="d-flex justify-content-center machine-thumb">
          <a href="{% url 'machines:detail' machine.pk %}">
            <img src="{{ machine.photo_thumbnail.url }}" alt="img" class="rounded img-fluid">
          </a>
        </div>
        <a href="{% url 'machines:detail' machine.pk %}" class="text-decoration-none text-dark">
          <p class="text-center mt-3 mb-0">{{ machine.title }}</p>
        </a>
      </div>  
    </div>
  {% endfor %}
  </div>
  <div class="d-flex row mt-5">
    <div class="col-6">
      <h4 class="sub-title-name">문의</h4>
      <div class="gray-box p-3">
        <h2 class=""><i class="fas fa-phone navy-text text-center me-4"></i> 010-1234-5678</h2>
        <p class="m-0"><i class="fas fa-clock navy-text text-center"></i> 09:00~18:00 (연중무휴)</p>
        <p class="m-0"><i class="fas fa-map-marker-alt navy-text text-center"></i> 경기도 광주시 곤지암읍 경충대로 811-70 맥스목공기계 (삼리 145)</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="sub-title-name">공지 사항</h4>
      <div class="gray-box p-3">
        <ul>
          <li>공지사항입니다</li>
          <li>공지사항입니다</li>
          <li>공지사항입니다</li>
          <li>공지사항입니다</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}

