{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-10">
    {# title #}
    <div class="d-flex justify-content-between title-box px-4 py-2">
      <div>
        <h2>{{question.title}}</h2>
        <p class="m-0">{{question.name}}</p>
      </div>
      <small class="grey-text">{{ question.created_at|date:'Y.m.d H:i' }}</small>
    </div>

    {# 수정 삭제 버튼 #}
    <div class="d-flex justify-content-end pe-4 pt-2">
      <a class="badge btn-navy me-2 text-decoration-none" href="{% url 'board:qna_update' question.pk %}">수정</a>
      <a class="badge bg-secondary me-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#deletemodal">삭제</a>
    </div>

    <!-- 삭제 Modal -->
    <div class="modal fade" id="deletemodal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">게시글 삭제</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>게시글을 삭제하시겠습니까?</p>
            <form action="{% url 'board:qna_delete' question.pk %}" method="POST">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="비밀번호 입력" name="delete_password">
                <button class="btn btn-outline-secondary">삭제</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {# content #}
    <div class='p-5 pt-4'>
      <p class='m-0'>
        {{ question.content|linebreaks }}
      </p>
    </div>

    {# 답변 #}
    <div class="px-5 py-2 answer-box">
      {% if answers %}
        {% for answer in answers %}
          <div class="my-3">
            <div class="d-flex w-100">
              <p class="m-0"><span class="badge badge-navy mb-1">관리자</span> {{ answer.created_at|date:'Y.m.d H:i' }}</p>
            </div>
            <p class="mb-1">{{ answer.content|linebreaks }}</p>
          </div>
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      {% else %}
        <small>답변 대기중</small>
      {% endif %}
    </div>

    {# 답변 작성 폼 #}
    {% if request.user.is_authenticated %}
      <div class="mt-3">
        <form action="{% url 'board:answers_create' question.pk %}" method="POST">
          {% csrf_token %}
          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="댓글 작성" id="id_content" rows="3" name="content" required></textarea>
            <button class="btn btn-outline-secondary">작성</button>
          </div>
        </form>
      </div>
    {% endif %}


    {# 목록 버튼 #}
    <div class="d-flex justify-content-center mt-5">
      <a class="btn btn-sm btn-navy" href="{% url 'board:qna' %}" role="button">목록으로</a>
    </div>
  </div>
</div>
{% endblock content %}