{% extends 'base.html' %}

{% block content %}

{# qna table #}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class='text-center darkgrey-text'>번호</th>
      <th scope="col" class='text-center darkgrey-text'>제목</th>
      <th scope="col" class='text-center darkgrey-text'>등록일</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
      <tr>
        <th scope="row" class='text-center grey-text'>{{ question.pk }}</th>
        <td>
          <a href="{% url 'board:qna_detail' question.pk %}" class="text-decoration-none text-dark">{{ question.title }}</a>
          {% if question.answer_set.count %}
            <span class="badge bg-secondary">답변 완료</span>
          {% else %}
           <span class="badge btn-navy">답변 대기</span>
          {% endif %}
        </td>
        <td class='text-center lightgrey-text'>{{ question.created_at|date:'Y.m.d' }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{# pagination #}
<nav aria-label="Page navigation" class="d-flex justify-content-between">
  <div></div>
  <ul class="pagination mb-0">
    {% if questions.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ questions.previous_page_number }}">«</a>
        </li>
    {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">«</a>
        </li>
    {% endif %}

    {% for page_num in current_page_range %}
      {% if page_num == questions.number %}
        <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if questions.has_next %}  
      <li class="page-item">
        <a class="page-link" href="?page={{ questions.next_page_number }}">»</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">»</a>
      </li>
    {% endif %}
  </ul>
  <button type="button" class="btn btn-navy"><a href="{% url 'board:qna_create'%}" class="text-decoration-none text-light">글쓰기</a></button>
</nav>

{% endblock content %}