{% extends 'base.html' %}

{% block header %} 
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ NAVER_MAP_API_KEY }}"></script>
{% endblock header %}

{% block content %}
<div class="d-flex row justify-content-center">
  <div id="map" class="map-box col-11 col-lg-6 mb-4"></div>
  <div class="d-flex flex-column col-12 col-lg-6">
    <div class="mx-3">
      <h4 class="ps-3 sub-title-name">운영 정보</h4>
      <div class="gray-box p-3">
        <p class="m-0"><i class="fas fa-phone navy-text text-center"></i> 031-767-0880</p>
        <p class="m-0"><i class="fas fa-clock navy-text text-center"></i> 08:00~17:00 (연중무휴)</p>
        <p class="m-0"><i class="fas fa-map-marker-alt navy-text text-center"></i> 경기도 광주시 곤지암읍 경충대로 811-70 맥스목공기계 (삼리 145)</p>
      </div>
    </div>
    <div class="mx-3 mt-4">
      <h4 class="ps-3 sub-title-name">찾아오시는 길</h4>
      <div class="gray-box p-3">
        <p class="badge badge-navy">자가용 이용</p>
        <p class="m-0 ms-2">경기도 광주시 곤지암읍 경충대로 811-70 맥스목공기계 (삼리 145)</p>
        <hr>
        <p class="badge badge-navy">대중교통 이용</p>
        <div class="ps-2">
          <div class="list-line"></div>
          <ul class="m-0 list-unstyled mb-2">
            <li class="m-0"><div class="list-blit"></div><span class="m-3">경강선 [곤지암역 2번 출구] 지하철 하차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">[곤지암역,예계교] 300번 버스 승차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">[삼리.킴스빌리지.현진에버빌아파트] 하차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">도보 10분</span></li>
          </ul>

          <div class="list-line"></div>
          <ul class="m-0 list-unstyled">
            <li class="m-0"><div class="list-blit"></div><span class="m-3">경강선 [곤지암역 1번 출구] 지하철 하차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">[곤지암역] 39-2번 버스 승차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">[삼리.킴스빌리지.현진에버빌아파트] 하차</span></li>
            <li class="m-0"><div class="list-blit"></div><span class="m-3">도보 10분</span></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var max_store = new naver.maps.LatLng(37.35583337549125, 127.32161427101504),
    map = new naver.maps.Map('map', {
        center: max_store.destinationPoint(0, 20),
        zoom: 17
    }),
    marker = new naver.maps.Marker({
        map: map,
        position: max_store
    });

  var contentString = [
          '<div class="p-2">',
          '   <p class="m-0"> 맥스 목공기계 </p>',
          '</div>'
      ].join('');

  var infowindow = new naver.maps.InfoWindow({
      content: contentString,
      maxWidth: 200,
      backgroundColor: "white",
      borderColor: "black",
      borderWidth: 2,
      anchorSize: new naver.maps.Size(12, 12),
      anchorSkew: true,
      anchorColor: "white",
  });

  naver.maps.Event.addListener(marker, "click", function(e) {
      if (infowindow.getMap()) {
          infowindow.close();
      } else {
          infowindow.open(map, marker);
      }
  });

  infowindow.open(map, marker);

</script>
{% endblock content %}